body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height:2000px;
}

.month-container {
  display: flex;
  flex-direction: column;
  min-height:400px;
  transition: 0.5s ease-in;
  background-color:white;
}

.month-container.active {
    background:white;
    border:1px solid blue;
}

.fixtures-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  background-color: white;
}


.month {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  position:sticky;
  top:0;
  background-color: white;
}



.fixture-details {
  display: none;
  padding: 1rem;
}


.fixture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #eee;
}

.fixture:last-child {
    border-bottom: none;
}


.preserve-line-breaks {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  