:root {
  --default-padding: 1rem;
}

body {
    font-family: Rubik, Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height:3000px;
    margin:auto;
}

p {
  line-height: 1.6rem;
}

button{
  padding:8px 16px;
  border:1px solid black;
  font-family: inherit;
  background:white;
}

/* Layout */

.container {
  max-width: 1200px;
  margin:auto;
}

.iconify {
  margin-top:-2px;
  margin-right:4px;
}

header {
  padding: var(--default-padding);
  color: white;
  background-image: url('https://cdduewtpfvhhhogaybjk.supabase.co/storage/v1/object/sign/sale_sharks_images/Match%20images/Group%2024%20(2).png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzYWxlX3NoYXJrc19pbWFnZXMvTWF0Y2ggaW1hZ2VzL0dyb3VwIDI0ICgyKS5wbmciLCJpYXQiOjE2ODM0MTA1NTMsImV4cCI6MTcxNDk0NjU1M30.P9FKI_SM5zfh_eZ41-jfOjpxoQzFjOFf2GKNRh1e-sI&t=2023-05-06T22%3A02%3A33.032Z');
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-size: cover;
  background-color: linear-gradient(89.19deg, #040C49 -7.3%, rgba(4, 4, 73, 0) 127.65%);
  height: 450px;
  justify-content: center;
}

 .month {
  padding:var(--default-padding);
}

.month-container {
  display: flex;
  flex-direction: column;
  min-height:400px;
  transition: 0.5s ease-in;
  background-color:white;
  opacity:0.5!important;
}

.month-container.active {
    background:white;
    border:1px solid blue;
    opacity:1!important;
}



.fixtures-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  background-color: white;
  position: sticky;
  top:90.39px;
}


.month {
  border-bottom: 1px solid #ccc;
  position:sticky;
  top:0;
  background-color: white;
}



.fixture-details {
  display: none;
  padding: 1rem;
}


.fixture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #eee;
}

.fixture:hover {
  background-color: #eee;
  cursor: pointer;
}

.preserve-line-breaks {
    white-space: pre-wrap;
    word-wrap: break-word;
  }


  /* Forms */

  input, textarea, select {
    width:100%;
    font-family: Inherit;
    font-size: 16px;
    display: block;
    padding:10px;
    margin-top: 4px;
  }


  /* Media */

  img{
    max-width:100%;
  }
.opponent-logo {
  width: 25px;
  object-fit: contain;
  margin-right: 1rem;
}

  /* Media queries */
@media screen and (min-width:1300px){
  container {
    max-width:1400px;
  }
  .opponent-logo {
    width:45px;
  }

  header {
    background-image: none;
    height: auto;
    background-color: #040C49;
  }
}  